body{
    color:blue;
    background:black;
    font-family: "Tiny5", sans-serif;
    margin: 0px;
    margin-bottom: 100px;

}
.chamada{
    background:rgb(17, 128, 0);
    margin-top: 80px;;
    margin-bottom: 80px;
    display: flex;
    justify-content:center;
} 
.chamada-texo{
    margin-right: 5%;
}
.categoria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid rgb(77, 32, 153);
}